.body{
    overflow: auto;
     
        background-image: url("https://cdn.wallpapersafari.com/47/46/IOFTRN.jpg");
   
}

.card {
    transition: .5s ease-in-out;
    margin: 0 10px 0 10px;
}

@media screen and (max-width: 768px) {
    .card {
        min-width: 21rem;
    }
}

.card-content {
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card-img, 
.card-title {
    transform: translateY(4rem);
    transition: .5s ease-in-out;
}

.card-img {
    width: auto;
    height: 9.5rem;
}

.card-title {
    font-size: 1rem;
    text-transform: capitalize;
    transition-delay: .1s;
}

.card-body, 
.card-footer {
    transform: translateY(8rem);
    transition: .5s ease-in-out;
}

.card-body {
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  transition-delay: .2s;
}

.card:hover .card-img,
.card:hover .card-title,
.card:hover .card-body,
.card:hover .card-footer {
    transform: translateY(0);
}

.card-footer {
    transition-delay: .3s;
}